/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  
  /*GRID*/
  .container {
    max-width: 640px;
    width: 100%;
    padding: 1.5rem;
    margin: 0 auto;
  }

  /*HEADER*/
  .header {
    background-color: #2b2b2b;
    margin: 0rem 35rem 0rem 35rem ;
  }
  .branding h6{
    color: gray;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .branding,
  .branding a{
    display: grid;   
    justify-content: center;
  }
  .branding a img{
    padding-bottom: 2rem;
    width: 15rem;
    height: 6rem;
  }
  .header__nav ul {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header__nav ul li a {
    color: #ffffff
  }

  /*CHANCE*/
  .chance {
    margin: 0rem 35rem 0rem 35rem ;
  }
  .chance__wrapper {
    display: flex;
  }
  .chance__text {
    padding: 2rem 1rem 1rem 1rem;
  }
  .chance__text h3:first-of-type {
    color: gray;
    font-weight: 800;
    font-size: 1.3rem;
  }
  .chance__text h1 {
    font-weight: 1000;
    font-size: 3rem;
  }
  .chance__text h3:last-of-type {
    color: red;
    font-weight: 800;
    font-size: 1.3rem;
    padding-bottom: 2rem;
  }
  .chance__text p {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }
  .chance__img {
    width: 175%;
  }

  /*SPECIAL*/
  .special {
    margin: 0rem 35rem 0rem 35rem ;
    background-color: rgb(31, 54, 54);
  }
  .special__wrapper{
    display: grid;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .special__text h1 {
    display: grid;
    justify-content: center;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 1000;
    font-size: 3rem;
}
  .special__text h3 {
    display: grid;
    text-align: center;
    color: white;
    padding-bottom: 1rem;
}
  .special__btn {
    display: grid;
    justify-content: center;
    background-color: white;
    margin-left: 22rem;
    margin-right: 22rem;
    margin-bottom: 2rem;
}
  .special__btn a {
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*CASUAL*/
.casual {
    margin: 0rem 35rem 0rem 35rem ;
}
.casual__wrapper {
  display: flex;
}
.casual__text {
  padding: 2rem 1rem 1rem 1rem;
}
.casual__text h5 {
  color: red;
  font-weight: 800;
  font-size: 1.3rem;
}
.casual__text h1 {
  font-weight: 1000;
  font-size: 3rem;
  padding-bottom: 2rem;
}
.casual__text p {
  font-size: 1.4rem;
    padding-bottom: 1rem;
}
.casual__img {
  padding: 1rem 1rem 1rem 1rem;
  width: 175%;
}
.casual__text a {
  display: grid;
  justify-content: center;
  background-color: rgb(31, 54, 54);
  color: white;
}

/*COMBINE*/
.combine {
    margin: 0rem 35rem 0rem 35rem ;
}
.combine__wrapper {
  display: flex;
}
.combine__text h5 {
  color: red;
  font-weight: 800;
  font-size: 1.3rem;
}
.combine__text h1 {
  font-weight: 1000;
  font-size: 3rem;
  padding-bottom: 2rem;
}
.combine__text p {
  font-size: 1.4rem;
    padding-bottom: 1rem;
}
.combine__img {
  padding: 1rem 1rem 1rem 1rem;
  width: 175%;
}
.combine__text a {
  display: grid;
  justify-content: center;
  background-color: rgb(31, 54, 54);
  color: white;
}

/*FOOTER*/
.footer {
    margin: 0rem 35rem 0rem 35rem ;
    background-color: #2b2b2b;
}
.footer__wrapper {
display: flex;
}
